.mealInfo
  h2 = meals.title
  span
    /!=image_tag meals.image_file_name
    /! grab the id from meals...pass it in the url
    = link_to image_tag( meals.image_file_name), '/category/display_category/2'
  span 
    =meals.description
  span
    =number_to_currency(meals.cost_cents.to_f / 100)
