.outerDiv{
  background-color: beige;
  .banner{
    width: 100%;
    margin-top: 10px;
  }
  .categorySquare{
    background-color: gainsboro;
    height: 400px;
  }

  .mealInfo{
    width: 235px;
    float: left;
    margin: 25px;
  }
}
